
#
# 核心配置

[Global]
loglevel 	= 4

#
# 数据库存储
#
# location		存档位置
# cachesize 	缓存大小, 单位字节数, 默认1G
#

[Storage]
location 	= /var/db/zonedb_01
cachesize 	= 10737418243

#
# 数据服务器对外提供的服务
#
# bindhost 			绑定的主机地址
# listenport 		监听的端口号
# timeoutseconds 	超时时间
#

[Service]
bindhost 		= 0.0.0.0
listenport 		= 18000
timeoutseconds 	= 30

#
# 主从备份
#
# 主机工作方式
# type				0 - 主机
# host 				主机绑定地址
# port				主机监听端口号
# timeoutseconds	主机的超时时间
# keepaliveseconds	从机的保活时间
#
# 从机工作方式
# type 				1 - 从机
# host 				主机绑定的地址
# port 				主机监听的端口号
# timeoutseconds	主机的超时时间
# keepaliveseconds	从机的保活时间
#

[Replication]
type 				= 0
host 				= 127.0.0.1
port 				= 28000
timeoutseconds 		= 30
keepaliveseconds 	= 10
